* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("./Assets/parchment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    backdrop-filter: blur(4px);
    background-attachment: fixed;
}