.bag {
    position: absolute;
    width: 80%;
    max-width: 500px;
    aspect-ratio: 1/1;
    background-color: blue;
    border: 2px solid white;
    border-radius: 10px;
    overflow: auto;

    &__category {
        display: flex;
        justify-content: space-around;
        position: sticky;
        top: 20px;
        background-color: red;
        width: 100%;
        height: 15%;
        text-align: center;
    }

    &__menu {
        background-color: grey;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__items {
        
            &:hover {
                background-color: white;
            }
        }
    
        &__attacks {
            
            &:hover {
                background-color: white;
            }
        }
    
        &__close {
            max-width: 80px;
            aspect-ratio: 1/1;
    
            &:hover {
                background-color: white;
            }
        }
    }

    &__items, &__attacks {
        width: 20%;
        height: 250px;
        padding: 10px;
        margin: 10px 2%;
        border: 2px solid white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__container {
        width: 100%;
        height: 100%;

        &__items {
            background-color: green;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: fit-content;
            min-height: 100%;
        }

        &__attacks {
            background-color: blue;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: fit-content;
            min-height: 100%;
        }
    }
}

.bagheader {
    position: sticky;
    top: 0;
    height: 20px;
    background-color: yellowgreen;
    cursor: move;
    text-align: center;
}

.activated {
    background-color: red;
}

.deactivated {
    background-color: grey;
}

.bag__container__attacks > .bag__attacks {
    pointer-events: none; 
}