.fighting {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.endTurn {
    margin-top: 5vh;
    margin-bottom: 10px;
    min-width: 100px;
    width: 50%;
    max-width: 300px;
}