@use "partials/Background";
@use "partials/EnemiesSide";
@use "partials/EnemyCard";
@use "partials/ButtonsNMaps";

@use "partials/Bag";
@use "partials/NotifPopUp";

@use "partials/PlayerSide";


* {
    user-select: none !important;
}

main {
    position: relative;
    max-width: 1400px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unDisplay {
    display: none !important;
}