* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("./Assets/parchment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-attachment: fixed;
}

.enemies {
  width: 90%;
  height: 30vh;
  min-height: 250px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
}

.enemyCard {
  height: 80%;
  min-width: 150px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 10px;
}

.monsterSelector {
  min-height: 50px;
  display: flex;
  align-items: center;
}

.fighting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.endTurn {
  margin-top: 5vh;
  margin-bottom: 10px;
  min-width: 100px;
  width: 50%;
  max-width: 300px;
}

.bag {
  position: absolute;
  width: 80%;
  max-width: 500px;
  aspect-ratio: 1/1;
  background-color: blue;
  border: 2px solid white;
  border-radius: 10px;
  overflow: auto;
}
.bag__category {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 20px;
  background-color: red;
  width: 100%;
  height: 15%;
  text-align: center;
}
.bag__menu {
  background-color: grey;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bag__menu__items:hover {
  background-color: white;
}
.bag__menu__attacks:hover {
  background-color: white;
}
.bag__menu__close {
  max-width: 80px;
  aspect-ratio: 1/1;
}
.bag__menu__close:hover {
  background-color: white;
}
.bag__items, .bag__attacks {
  width: 20%;
  height: 80%;
  padding: 10px;
  margin: 10px 2%;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.bag__container {
  width: 100%;
  height: 100%;
}
.bag__container__items {
  background-color: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100%;
}
.bag__container__attacks {
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100%;
}

.bagheader {
  position: sticky;
  top: 0;
  height: 20px;
  background-color: yellowgreen;
  cursor: move;
  text-align: center;
}

.activated {
  background-color: red;
}

.deactivated {
  background-color: grey;
}

.bag__container__attacks > .bag__attacks {
  pointer-events: none;
  height: 250px;
}

.notification {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.notification__card {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 10px;
  background-color: aliceblue;
  text-align: center;
}

.ClickToClose {
  margin-top: 10px;
}

.cards {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 250px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
}

.player {
  width: 90%;
  height: 30vh;
  min-height: 250px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.Character {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  filter: blur(5px);
}
.Character__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Character__portrait {
  height: 50%;
  aspect-ratio: 1/1;
  border: 2px solid white;
}
.Character__stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.Character__stats h3 {
  display: inline;
}

.CharacterCreator__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
}
.CharacterCreator__blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

* {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

body {
  position: sticky;
  top: 0;
}

main {
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);
  max-width: 1400px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.unDisplay {
  display: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0 0 10px 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
  border-radius: 0 0 10px 10px;
}

/* for responsive handling */
@media screen and (max-height: 950px) {
  .player {
    height: 20vh;
    min-height: 200px;
  }
  .enemies {
    height: 20vh;
    min-height: 200px;
  }
  .cards {
    height: 20vh;
    min-height: 200px;
  }
}/*# sourceMappingURL=style.css.map */